@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url('/fonts/FiraCode-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}

body{
  overflow-x: hidden;
  background-image: url('/assets/bg.png');
  background-size: cover;
}